html, body{
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}
.navbar{
	justify-content: unset;
	flex-direction: row;
}
.insta-icon{
	margin-left: auto;
    margin-right: auto;
}
@media (max-width: 650px){
.insta-icon{
	    width: 41%;
}
.main-icon{
	width: 141px;
	height: 141px;
}
}
.nav-icons{
	cursor: pointer;
}

@media (max-width: 575px){
.nav-icons:nth-child(2){
	width: 40px;
	height: 40px;
}
}
.top-bar{
	height: 50px;
}
@media (max-width: 580px){
	.top-bar{
		height: auto;
	}
}
.top-bar-content-wrapper{
	height: 100%;
}
.columns-top{
	text-align: center;
	margin-top: auto;
    margin-bottom: auto;
	align-items: center;
	justify-content: center;
}


.search-box{
	background-image: url(./images/insta-loop.svg);
	background-repeat: no-repeat;
	background-position: left 25% center;
	background-size: 5%;
	border: 1px solid #DBDBDB;
	width: 216px;
	height: 29px;
	padding-left: 70px;
	font-size: 14px;
	line-height: 17px;
}
.arrow-icon-wrapper{
	width: 30px;
	height: 33px;
	margin-right: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./images/insta-arrow.svg);
	background-repeat: no-repeat;
	background-position: center;

}
.number-massages{
	width: 15px;
	height: 15px;
	border: 1px solid #DC565B;;
	border-radius: 50%;
	background-color: #DC565B;;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin-left: auto;
	margin-bottom: auto;
	z-index: 1;

}
.header{
	height: 320px;
	display: flex;
	flex-direction: row;
	padding-top: 29px;
	justify-content: center;
}

.header-left-col, .header-right-col{
	height: 100%;
}
.main-icon{
	width: 154px;
	height: 154px;
	margin-left: auto;
	margin-right: 60px;
}
.header-right-col-wrapper{
	height: 100%;
	padding-left: 0px;
}
.header-followers{
	cursor: pointer;
}
.insta-name{
	font-family: 'HelveticaNeueCyr'; 
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 32px;
	margin-right: 10px;
}
.prim-bat{
	width: 97px;
	height: 29px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.info-bat{
	width: 33px;
	height: 29px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.dots{
	cursor: pointer;
}
@media (max-width: 442px) {
		.insta-name{
			margin-right: 5px;
		}
		.prim-bat{
			margin-right: 5px;
		}
		.info-bat{
			margin-right: 5px;
		}
}
.header-followers-wrapper{
	margin-top: 24px;
}
.header-followers{ 
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
}
.header-followers:nth-child(1n+1){
	margin-right: 5px;
}
.header-followers:last-child{
	margin-right: 0px;
}
.header-secondary-name-wrapper{
	margin-top: 21px;
}
.header-secondary-name{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;

}
.header-text{
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 0px;
}
.link{
	color: #133768;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
}
@media (max-width: 948px) {
	.header-secondary-name{
	font-size: 14px;
}
	.header-text{
	font-size: 14px;
}
	.link{
	font-size: 14px;
}
}
@media (max-width: 569px) {
	.header-secondary-name{
	font-size: 11px;
}
.header-text{
	font-size: 11px;
}
.link{
	font-size: 11px;
}
.main-icon{
	width: 120px;
	height: 120px;
}
.insta-name{
	font-size: 15px;
}
.header-followers{
	font-size: 14px;
}
.prim-bat{
	width: 77px;
	height: 19px;
}
.info-bat{
	width: 27px;
	height: 19px;
}
.dots{
	font-size: 10px;
}
}
@media (max-width: 456px) {
	.main-icon{
		width: 90px;
		height: 90px;
	}
		.header-secondary-name{
	font-size: 11px;
}
.header-text{
	font-size: 11px;
}
.link{
	font-size: 11px;
}
.insta-name{
	font-size: 15px;
}
.header-followers{
	font-size: 11px;
}
.header-right-col-wrapper{
	width: unset;
}
}
@media (max-width: 400px) {
	.insta-name{
		font-size: 11px;
	}
	.prim-bat{
		width: 56px;
	}
	.info-bat{
		width: 26px;
	}
	.header-text{
		font-size: 9px;
	}
	.link{
		font-size: 9px;
	}
}
.stories-section{
	display: flex;
	flex-direction: column;
}
.stories-section-left{
	display: flex;
	flex-direction: row;
}
.stories-icon{
	width: 79px;
	height: 79px;
}
.stories-wrapper{
	width: 87px;
	height: 87px;
	border-radius: 50%;
	border: 1px solid #DBDBDB;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.stories-wrapper:first-child{
	margin-left: 160px;
}
.stories-wrapper:nth-child(1n+1){
	margin-right: 39px;
}
.stories-wrapper:last-child{
	margin-right: 0px;
}
.stories-section-user-name{
	display: flex;
	justify-content: flex-start;
	padding-right: 0px;
	margin-left: 160px;
}
.user-name{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #262626;
}
.user-name:nth-child(1n+1){
	margin-right: 45px;
}
.user-name:last-child{
	margin-right: 0px;
}
.user-name:first-child{
	margin-right: 60px;
}
@media (max-width: 793px) {
	.stories-section-left{
		justify-content: center;
}
	.stories-wrapper:first-child{
		margin-left: 0px;

}
.stories-wrapper:first-child{
	margin-left: 0px;
	justify-content: center;
}
}
@media (max-width: 765px) {
	.stories-left{
		margin-right: auto;
		margin-left: auto;
	}
	.stories-section-user-name{
		margin-right: auto;
		margin-left: auto;
	}

}
@media (max-width: 455px) {
	.stories-icon{
		width: 55px;
		height: 55px;
	}
	.stories-wrapper{
		width: 60px;
		height: 60px;
	}
	.user-name{
		display: none;
	}
}

.mid-menu-section{
	height: 53px;
	display: flex;
	justify-content: center;
	margin-top: 55px;
}
.mid-menu-wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
}
.mid-menu-left, .mid-menu-right{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.mid-menu-left{
	margin-right: 10px;
}
.menu-icons{
	margin-right: 5px;
}
.tagged{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	letter-spacing: 0.09em;
	color: #8F8F8F;
}
.posts{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	letter-spacing: 0.09em;
	color: #262626;
}
@media ( max-width: 388px) {
	.tagged, .posts{
		font-size: 10px;
	}
}
.pictures-list{
	width: 297px;
	height: 297px;
	cursor: pointer;
}
@media (max-width: 1213px) {
	.pictures-list{
	width: 210px;
	height: 210px;
	}
	.pictures-list-wrapper{
		margin-right: 20px;
	}
}
@media (max-width: 766px) {
	.pictures-list{
	width: 297px;
	height: 297px;
	}
}
.pictures-list:nth-child(1n+1){
	margin-bottom: 61px;
}
.pictures-list-row{
	justify-content: center;
}
.pictures-list-wrapper{
	justify-content: center;
	padding: 0px 0px;
	flex-wrap: wrap;
}
.right-container{
	height: 30px;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.nav-left{
	width: 60%;
	height: 30px;
	flex-direction: row;
}
.nav-right{
	width: 40%;
	height: 30px;
}
.right-container{
	flex-direction: row;
}
.nav-user-picture{
	width: 25px;
    height: 25px;
}
.nav-icons:nth-child(1n+1){
	margin-right: 22px;
}
.nav-icons:first-child{
	margin-left: 27px;
}
@media (max-width: 573px) {
	.columns-top:nth-child(3){
		padding-top: 4px;
	}
}
@media (max-width: 518px) {
	.pictures-list-wrapper{
		margin-right: 0px;
	}
	.prim-bat{
		font-size: 11px;
	}
}