.navbar{
	justify-content: unset;
	flex-direction: row;
}
.insta-icon{
	margin-left: auto;
    margin-right: auto;
}
@media (max-width: 650px){
.insta-icon{
	    width: 19%;
}
.nav-icons{
	width: 7%;
}
}
.top-bar{
	height: 50px;
}
.top-bar-content-wrapper{
	height: 100%;
}
.columns-top{
	text-align: center;
	margin-top: auto;
    margin-bottom: auto;
}

.search-box{
	background-image: url(./images/insta-loop.svg);
	background-repeat: no-repeat;
	background-position: left 25% center;
	background-size: 5%;
	border: 1px solid #DBDBDB;
	width: 216px;
	height: 29px;
	padding-left: 19%;
	font-size: 14px;
	line-height: 17px;
}
.header{
	height: 320px;
	display: flex;
	flex-direction: row;
	padding-top: 29px;
}

.header-left-col, .header-right-col{
	height: 100%;
}
.main-icon{
	width: 154px;
	height: 154px;
	margin-left: auto;
	margin-right: 60px;
}
.header-right-col-wrapper{
	height: 100%;
}
.insta-name{
	font-family: 'HelveticaNeueCyr'; 
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 32px;
}
.prim-bat{
	width: 97px;
	height: 29px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.info-bat{
	width: 33px;
	height: 29px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header-followers-wrapper{
	margin-top: 24px;
}
.header-followers{ 
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
}
.header-secondary-name-wrapper{
	margin-top: 21px;
}
.header-secondary-name{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;

}
.header-text{
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 0px;
}
.link{
	color: #133768;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
}
.stories-icon{
	width: 79px;
	height: 79px;
}
.stories-wrapper{
	width: 87px;
	height: 87px;
	border-radius: 50%;
	border: 1px solid #DBDBDB;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stories-wrapper:first-child{
	margin-left: auto;
}
.stories-wrapper:nth-child(1n+1){
	margin-right: 39px;
}
.stories-wrapper:last-child{
	margin-right: 0px;
}
.stories-section-user-name{
	justify-content: flex-end;
	padding-right: 0px;
}
.user-name{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #262626;
}
.user-name:nth-child(1n+1){
	margin-right: 45px;
}
.user-name:last-child{
	margin-right: 0px;
}
.user-name:first-child{
	margin-right: 60px;
}
.right-container{
	height: 30px;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.nav-left{
	width: 60%;
	height: 30px;
	flex-direction: row;
}
.nav-right{
	width: 40%;
	height: 30px;
}
.right-container{
	flex-direction: row;
}
.nav-user-picture{
	width: 25px;
    height: 25px;
}
.nav-icons:nth-child(1n+1){
	margin-right: 22px;
}