@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Bold'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
@font-face {
    font-family: 'HelveticaNeueCyr';   
    src: local('HelveticaNeueCyr-Medium'),
        url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Thin'),
        url('HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;